.idea/**
**/*.iml
**/target
**/lib
**/surefire-reports-aggregate
**/dependency-reduced-pom.xml

# VS Code ignores
.vscode
.settings
.classpath
.project
/legend-engine-server/src/test/resources/org/finos/legend/engine/server/test/snowflake.properties
/legend-engine-server/src/test/resources/org/finos/legend/engine/server/test/query.properties
/legend-engine-server/src/test/resources/org/finos/legend/engine/server/test/userLocalConfig.json
/legend-engine-server/src/test/resources/org/finos/legend/engine/server/test/redshift.properties
