# Copyright 2022 Goldman Sachs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build CI

env:
  CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
  CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

on: [push, pull_request]

jobs:
  build:
    name: Build
    if: "!contains(github.event.head_commit.message, '[maven-release-plugin]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Cache Maven dependencies
        uses: actions/cache@v2
        env:
          cache-name: cache-mvn-deps
        with:
          path: ~/.m2
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
          server-id: ossrh
          server-username: CI_DEPLOY_USERNAME
          server-password: CI_DEPLOY_PASSWORD
      - name: Check Java version
        run: java -version
      - name: Configure git
        run: |
          git config --global committer.email "infra@finos.org"
          git config --global committer.name "FINOS Admin"
          git config --global author.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global author.name "${GITHUB_ACTOR}"
      - name: Download deps and plugins
        run: mvn de.qaware.maven:go-offline-maven-plugin:resolve-dependencies
        env:
          MAVEN_OPTS: -Xmx4g
      - name: Build + Test
        if: (github.repository != 'finos/legend-engine') || (github.ref != 'refs/heads/master')
        run: mvn install javadoc:javadoc -Dmaven.test.failure.ignore=true
        env:
          MAVEN_OPTS: -Xmx4g
      - name: Build + Test + Maven Deploy + Sonar + Docker Snapshot
        if: (github.repository == 'finos/legend-engine') && (github.ref == 'refs/heads/master')
        env:
          DOCKER_USERNAME: finos
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          MAVEN_OPTS: -Xmx4g
        run: |
          mvn compile -pl legend-engine-xt-persistence-component/legend-engine-xt-persistence-component-logical-plan
          mvn compile -pl legend-engine-xt-persistence-component/legend-engine-xt-persistence-component-physical-plan
          mvn compile -pl legend-engine-xt-persistence-component/legend-engine-xt-persistence-component-relational-core
          mvn javadoc:javadoc deploy -P docker-snapshot
      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: legend-engine-test-reports/surefire-reports-aggregate/*.xml
      - name: Upload CI Event
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: event-file
          path: ${{ github.event_path }}
